body {
  margin: 0;
  background-color: #fcfcfc;
  font-family: monospace;
  user-select: none;
}

@font-face {
  font-family: "SolaimanLipi";
  src: url("../fonts/SolaimanLipi_29-05-06.ttf");
  font-weight: normal;
  font-style: normal;
}
/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcfc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  z-index: 10;
}

.logoDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  height: 55px;
}

.menuBtn {
  margin-right: 15px;
}

/* footer style */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px -1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0 -2px 6px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  background-color: #fcfcfc;
}

.footer .item {
  fill: #666;
  height: max-content;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.footer .item svg {
  height: 30px;
}

/* main */
.main {
  position: fixed;
  top: 55px;
  bottom: 50px;
  left: 0;
  right: 0;
  /* height: max-content; */
  overflow-y: auto;
}

/* home */
.home {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}

@media screen and (max-height: 620px) {
  .home {
    height: 700px;
    position: relative;
  }
}
.ww_source {
  display: none !important;
}

.weather {
  border-radius: 6px;
  /* width: 350px !important; */
  width: 100%;
  /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  height: 216px;
  background-color: #fcfcfc !important;
  font-family: monospace !important;
}

.weather .ww-box {
  border-radius: 6px !important;
}

.weather .ww_cond {
  font-family: "SolaimanLipi" !important;
  /* font-size: 17px !important; */
}

.weatherImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 216px;
}

.weatherImg img {
  width: 200px;
}

/* services */
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.services .item {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  background-color: #fcfcfc;
  width: calc(48% - 20px);
  margin-top: 20px;
  /* height: calc((100vh - 442px) / 2); */
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.services .item .title {
  font: 500 20px "SolaimanLipi", monospace;
  margin-top: 10px;
  color: #666;
}

.services .item .icon img {
  width: 75px;
  fill: #666;
}

/* cement */

h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
  font-family: "SolaimanLipi", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container .item {
  width: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  margin-bottom: 20px;
}

.container .item img {
  /* height: 100px; */
  width: 90%;
}

@media screen and (min-width: 413px) {
  .container .item {
    height: 150px;
    width: 390px;
  }
  .container .item img {
    height: 100px;
    width: max-content;
  }
}

/* form */

.form {
  padding: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 413px) {
  .form {
    width: 300px;
    margin: auto;
    margin-top: 10px;
  }
}

label {
  display: block;
  /* margin-bottom: ; */
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  color: #24292f;
  font-family: "SolaimanLipi", monospace;
}

.form input {
  margin-top: 5px;
  margin-bottom: 16px;
  padding: 6px 12px;
  width: calc(100% - 26px);
  /* border-radius: 6px; */
  color: #24292f;
  border: 1px solid #d0d7de;
  outline: none;
  font-size: 17px;
  transition: all 0.35s;
  font-family: "SolaimanLipi", monospace;
  background-color: #fcfcfc;
}

.form input:disabled {
  background-color: #ececec;
}

.form .submitBtn {
  margin-top: 15px;
  margin-bottom: 16px;
  padding: 6px 12px;
  width: 100%;
  /* border-radius: 6px; */
  color: #870000;
  background-color: #fcfcfc;
  border: 1px solid #870000;
  outline: none;
  font-size: 20px;
  transition: all 0.35s;
  font-family: "SolaimanLipi", monospace;
}

.form .submitBtn:active {
  color: #fcfcfc;
  background-color: #870000;
}
